body {
    color: rgb(49, 4, 66);
    background: rgb(230, 205, 240);
    
}

.heading {
    width: 80%;
    font-size: 22px;

}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_object , #result_object_name , #result_object_accuracy{
color: rgb(131, 26, 236);
}

h3{
    color: rgb(131, 26, 236);
    text-decoration:underline;
}